/*Booki*/

body {
    background-color: white;

    color: black;

    margin: 0;

    font-family: "Raleway";
    font-style: normal;
}

.container {
    max-width: 1440px;
    margin: auto;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
}

.logo_booki {
    padding: 30px;
}

.image_logo {
    width: 60px;
    height: 20px;
}

.lien_hebergements_activites {
    display: flex;
}

.lien_hebergements_activites a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 19px;

    color: black;

    text-decoration: none;

    border-top: 2px transparent solid;

    padding: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lien_hebergements_activites a:hover {
    font-weight: 500;

    color: #0065fc;

    border-top-color: #0065fc;
}

h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;

    line-height: 26px;

    color: black;
}

.titre_haut_de_page p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 0px;

    color: black;
}

.titre_haut_de_page {
    padding: 30px;
    padding-bottom: 0px;
}

.barre_de_recherche {
    padding: 30px;
    padding-bottom: 0px;
}

.barre_de_recherche form {
    display: flex;
}

.fas.icone_position {
    border: 1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 42px;

    background-color: #f2f2f2;

    margin-left: 5px;
}

.barre_de_recherche .saisie_de_texte {
    border: 1px solid #f3f0f0;

    width: 275px;
    height: 40px;

    margin-right: -95px;

    padding-left: 15px;

    font-size: 15px;

    font-weight: 700;

    outline: none;
}

.barre_de_recherche .bouton_recherche {
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;

    background: #0065fc;

    color: white;

    width: 100px;
    height: 44px;

    cursor: pointer;
}

.information {
    padding: 30px;
    padding-top: 20px;

    display: flex;

    gap: 10px;

    align-items: center;
}

.information img {
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 10px 10px;
}

/*Nav*/

.fas.icone_information {
    border: 1px solid #f2f2f2;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 27px;

    background-color: white;

    font-size: 10px;

    color: #0065fc;
}

.filtres_recherche {
    display: flex;

    column-gap: 50px;

    padding: 30px;
    padding-bottom: 0px;

    flex-wrap: wrap;
}

.filtres_recherche .filtre {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;

    color: black;

    border: 2px solid #f2f2f2;
    border-radius: 25px;

    padding: 10px;

    display: flex;

    grid-gap: 10px;

    cursor: pointer;
}

.filtres_recherche .filtre:hover {
    background: #deebff;
}

.filtres_recherche .titre {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    padding: 10px;
}

.fas.icone_filtre {
    color: #0065fc;
}

/*Main*/

main {
    padding: 30px;
}

.hebergement_marseille {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 246px 246px 246px;
    grid-template-rows: 50px 199px 199px;

    padding: 30px;

    background: #f2f2f2;
    border-radius: 20px;

    flex: 2;
}

.titre_hebergement {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    grid-column-start: 1;
    grid-column-end: 4;

    margin: 0;
    margin-bottom: -20px;
}

.hebergements {
    display: flex;
    gap: 30px;

    align-items: flex-start;
}

.hebergement {
    background: white;
    border-radius: 20px;

    height: 199px;

    text-decoration: none;
    color: black;

    box-shadow: 0 3px 15px #0000004d;
}

.images_hebergement {
    object-fit: cover;

    width: 100%;
    height: 124px;

    box-sizing: border-box;
    border: 5px solid #ffffff;
    border-radius: 20px 20px 0px 0px;
}

.hebergement_figure {
    height: 124px;

    margin: 0;
}

.hebergement h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: -10px;
    margin-top: 5px;

    padding-left: 15px;
}

.hebergement p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    padding-left: 15px;

    margin-bottom: 4px;
}

.icone_etoile {
    font-size: 10px;

    margin: 2px;

    color: #0065fc;
}

.hebergement .icone_etoile:first-of-type {
    padding-left: 15px;
}

.bouton_afficher_plus {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: black;

    text-decoration: none;

    margin: 0;
    margin-top: 20px;
}

.activites {
    display: grid;
    grid-template-columns: 302px 302px 302px 302px;

    gap: 35px;

    margin-top: 50px;
}

.titre_activites {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    grid-column-start: 1;
    grid-column-end: 5;

    margin-top: 0;
    margin-bottom: 0;
}

.activite {
    border-radius: 20px;

    width: 302px;
    height: 500.51px;

    text-decoration: none;
    color: black;

    box-shadow: 0 3px 15px #0000004d;
}

.activite_figure {
    height: 444.51px;

    margin: 0;
}

.images_activite {
    object-fit: cover;

    width: 302px;
    height: 444.51px;

    border-radius: 20px 20px 0px 0px;
}

.activite h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    padding-left: 15px;
}

/*Aside*/

.populaires {
    display: flex;
    flex-direction: column;

    gap: 40px;

    background: #f2f2f2;
    border-radius: 20px;

    padding: 50px;

    flex: 1;
}

.populaire {
    background: #ffffff;
    border-radius: 20px;

    position: relative;

    width: 330px;
    height: 144px;

    text-decoration: none;
    color: black;
}

.populaire h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    margin-top: -125px;
    margin-left: 137px;
}

.populaire p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    margin-left: 137px;
    margin-top: -10px;
}

.titre_populaires {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    grid-column-start: 1;
    grid-column-end: 4;

    margin: -20px;
    margin-bottom: -20px;
}

.images_populaire {
    object-fit: cover;

    width: 137px;
    height: 144px;

    margin: 0;

    box-sizing: border-box;
    border: 5px solid #ffffff;
    border-radius: 20px 0px 0px 20px;
}

.populaire_figure {
    margin: 0;

    height: 144px;
}

.evaluation {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 138px;
}

.icone_populaire {
    float: right;

    font-size: 15px;

    color: #0065fc;
}

/*Footer*/

.contact {
    background: #f2f2f2;

    display: flex;

    gap: 275px;

    height: 163px;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    margin: 0;
    margin-bottom: 10px;
}

.contact a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
    color: black;
}

.contacts {
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin-top: 20px;
    margin-left: 25px;
}

/*Media Queries*/
