/*Booki*/

body {
  background-color: #F0F2F6;
  
  color: black;
  
  margin: 50px 50px 50px 50px;
	
  display: flex;
	justify-content: left;

  font-family: 'Raleway';
  font-style: normal;
}

/*Header*/

.logo1 {
  width: 61px;
  height: 19px;
}

.logo2 {
  width: 4px;
  height: 7px;

  position: relative;
  top: -2.9px;
  left: -30.9px;
}

.lien_hebergements_activites {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  
  line-height: 19px;

  color: black;

  width: 63px;
  height: 19px;

  position: relative;
  top: -15px;
  left: 775px;
}

a:hover {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  
  line-height: 19px;
  
  color: #0065FC;

  width: 113px;
  height: 19px;

  border-top: 2px #0065FC solid;

  text-align: center;
}

h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  
  line-height: 26px;

  color: black;

  width: 575px;
  height: 26px;
}

p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  
  line-height: 19px;

  color: black;

  width: 296px;
  height: 19px;

  text-align: justify;
}

.information {
  position: relative;
  top: 80px;
}

/*Nav*/

.filtres_recherche {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  top: 80px;
}

div {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  
  line-height: 20px;

  color: black;

  border: 2px solid #D9D9D9;
  border-radius: 25px;

  padding: 10px;

  text-align: center;
}

div:hover {
  background: #DEEBFF;
}

/*Main*/



/*Aside*/



/*Footer*/

