/*Booki*/

body {
    background-color: #f0f2f6;

    color: black;

    margin: 0;

    font-family: "Raleway";
    font-style: normal;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
}

.logo_booki {
    padding: 30px;
}

.lien_hebergements_activites {
    display: flex;
}

.lien_hebergements_activites a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 19px;

    color: black;

    text-decoration: none;

    border-top: 2px transparent solid;

    padding: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lien_hebergements_activites a:hover {
    font-weight: 500;

    color: #0065fc;

    border-top-color: #0065fc;
}

h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;

    line-height: 26px;

    color: black;

    width: 575px;
    height: 26px;
}

.titre_haut_de_page p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 0px;

    color: black;
}

.titre_haut_de_page {
    padding: 30px;
    padding-bottom: 0px;
}

.barre_de_recherche {
    padding: 30px;
    padding-bottom: 0px;
}

.barre_de_recherche img {
    border: 1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

.barre_de_recherche .saisie_de_texte {
    border: 1px solid #f2f2f2;
    border-radius: 15px;

    width: 275px;
    height: 40px;

    margin-right: -15px;
}

.barre_de_recherche .bouton_recherche {
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;

    background: #0065fc;

    color: white;

    width: 90px;
    height: 40px;
}

.information {
    padding: 30px;
    padding-top: 20px;

    display: flex;

    grid-gap: 10px;
}

.information img {
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 10px 10px;
}

/*Nav*/

.filtres_recherche {
    display: flex;

    grid-gap: 50px;

    padding: 30px;
    padding-bottom: 0px;
}

.filtres_recherche .filtre {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;

    color: black;

    border: 2px solid #d9d9d9;
    border-radius: 25px;

    padding: 10px;

    display: flex;

    grid-gap: 10px;
}

.filtres_recherche .filtre :hover {
    background: #deebff;
}

.filtres_recherche .titre {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    padding: 10px;
}

/*Main*/

/*Aside*/

/*Footer*/
