/*Booki*/

body {
    background-color: white;
    color: black;
    margin: 0;
	display: flex;
	justify-content: left;
}

/*Header*/

.logo1{
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 55px;
    top: 44px;
}

.logo2 {
    position: absolute;
    width: 2.9px;
    height: 5.15px;
    left: 90.54px;
    top: 53.53px;
}

.p1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    position: absolute;
    width: 575px;
    height: 26px;
    left: 55px;
    top: 126px;
}

.p2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    position: absolute;
    width: 296px;
    height: 19px;
    left: 55px;
    top: 160px;
}

.menu1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    position: absolute;
    right: 207px;
    top: 48px;
}

.menu2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    position: absolute;
    right: 77px;
    top: 48px;
}

.menu3:hover {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0065FC;
}

/*Nav*/

form {
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    width: 50px;
    height: 51px;

    position: absolute;
    left: 55px;
    top: 219px;
}

input {
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    background: #FFFFFF;    
    width: 219px;
    height: 49px;

    position: absolute;
    top: -1.1px;
    left: 40px;
}

.position {
    position: absolute;
    left: 15px;
    top: 16px;
}

/*Main*/



/*Aside*/



/*Footer*/

